<!-- Page Content -->
<body>

  <!-- Navigation -->
  
  <!-- Header -->


  <!-- Page Content -->
  <div class="container">

    <h4>Hi</h4>, <%=current_user.name%>!
    <!-- /.row -->
    <h3 style="text-align: center;"> List of Packages</h3>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.oyorooms.com/blog/wp-content/uploads/2018/06/Nepal-Historical-Places-Featured-Image.jpg"
          height="300" width="300" alt="">
          <div class="card-body">
            <h4 class="card-title">Visit Cultural</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <div style="text-align: center;"><%= link_to 'Book Packages', new_booking_path, class: 'btn btn-primary '%></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/0b/6e/6c/db/natural-beauty-of-nepal.jpg"
          height="300" width="300" alt="">
          <div class="card-body">
            <h4 class="card-title">Beauty of Nature</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <div style="text-align: center;"><%= link_to 'Book Packages', new_booking_path, class: 'btn btn-primary '%></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="http://www.expeditionsnepal.com/wp-content/uploads/2019/03/himalaya-4039495_1920-1920x1200.jpg"
          height="300" width="300" alt="">
          <div class="card-body">
            <h4 class="card-title">See The Beauty of Mountain</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <div style="text-align: center;"><%= link_to 'Book Packages', new_booking_path, class: 'btn btn-primary '%></div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-12">
        
        <h2 style="text-align: center;">Visit US</h2>      
        <div class="mapouter"><div class="gmap_canvas"><iframe width="1170" height="333" id="gmap_canvas" src="https://maps.google.com/maps?q=Kathmandu%20thamel&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a></div><style>.mapouter{position:relative;text-align:right;height:333px;width:1070px;}.gmap_canvas {overflow:hidden;background:none!important;height:333px;width:1070px;}</style></div>
      </div>
      <div style="text-align: center"><%=link_to 'Give Us a FeedBack', pointless_feedback_path, class: 'btn btn-primary' %></div>>
  </div>

