<div class="container">
  <h3 style="text-align: center;"> List of Packages</h3>
    <table class="table table-hover">
        <thead>
          <tr>
          	<th>Package</th>
            <th>Booked For</th>
            <th>No of People</th>
            <th>Status</th>>
            

            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
            	<td><%= booking.package.title %>	
              <td><%= booking.booked_for %></td>
              <td><%= booking.no_of_person %></td>
              <%if booking.confirm==true %>
                <td><strong>Confirmed</strong></td>
              <%else%>
                <td><%= link_to 'Cancle Booking', booking, class: 'btn btn-danger',method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>

      <br>

    </table>
    <%= link_to 'Add Booking', root_path, class: 'btn btn-primary'  %></td>
     
</div>      
