<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'toastr_rails/flash' %>

    <nav class="navbar navbar-inverse header navbar-fixed-top">
      <ul class="nav navbar-nav navbar-left">
        <img style="max-width:100px; margin-top: -40px; margin-left: 40px; padding-top: 5px; padding-bottom: -10px; text-align: center " src="https://i.ibb.co/YfY73QD/d94b5064-998e-485e-9d89-4b266cf38c7e-200x200.png" alt="d94b5064-998e-485e-9d89-4b266cf38c7e-200x200"> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <%if user_signed_in? %>
          <li><%= link_to 'My Booking', bookings_path %></li>
          <li><%= link_to 'My Profile', edit_user_registration_path %>

          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>

        <%else%>  
          <li><%= link_to '<i class = "glyphicon glyphicon-user"></i> Sign Up'.html_safe, new_user_registration_path%></li>
          <li><%= link_to '<i class = "glyphicon glyphicon-log-in"></i> Sign In'.html_safe, new_user_session_path %></li>
        <%end -%>

      </ul></nav><br>
    </nav> </br>
    <div style="margin-top: 30px;"><%= yield %></div>

<div style="text-align: center"><%=link_to 'Give Us a FeedBack', pointless_feedback_path, class: 'btn btn-primary' %></div>>    
<div class="footer">
  
  <p>© 2019 Copyright!!<a href="https://www.facebook.com/himal.princemalla">Contact Me</a></p>
</div>
<style>
  .header{
    
    width: 100%;
  }
  .footer {
    position: fixed;
  padding-top: 5% 
    top: 98%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
  text-align: center;
}
</style>
  </body>
</html>
