<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'toastr_rails/flash' %>

    <nav class="navbar navbar-inverse header">
      <ul class="nav navbar-nav navbar-left">
        <li ></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        
        <%if user_signed_in? %>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>

        <%else%>  
          <li><%= link_to '<i class = "glyphicon glyphicon-user"></i> Sign Up'.html_safe, new_user_registration_path%></li>
          <li><%= link_to '<i class = "glyphicon glyphicon-log-in"></i> Sign In'.html_safe, new_user_session_path %></li>
        <%end -%>

      </ul>
    </nav>
    <%= yield %>


<div class="footer">
  <p>© 2019 Himal Malla Thakuri Rights Reserved</p><br/>
  <p><a href="https://www.facebook.com/himal.princemalla">Contact Me</a></p>
</div>
<style>
  .header{
    position: fixed;
    width: 100%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
  text-align: center;
}
</style>
  </body>
</html>
